<template lang='pug'>
.site-wrapper
  spmm-header
  .section-wrapper
    router-view
  spmm-footer
  login
</template>

<script>
import SpmmHeader from '~/blocks/header'
import SpmmFooter from '~/blocks/footer'
import Login from '~/components/Login.vue'

export default {
  name: 'layout',
  components: {
    SpmmHeader,
    SpmmFooter,
    Login
  }
}
</script>

<style lang='sass'>

html
  height: 100%
  box-sizing: border-box

  &.overflow-none
    position: fixed
    overflow-y: scroll

html,
body,
#__nuxt,
#__layout
  min-width: 300px
  position: relative
  margin: 0
  padding: 0
  height: 100%
  min-height: 100%

.site-wrapper
  display: flex
  flex-direction: column
  min-width: 300px
  justify-content: space-between
  box-orient: vertical
  min-height: 100%
  height: 100%

header
  position: relative
  z-index: 2
  flex: 0 0 auto

.section-wrapper
  flex: 1 0 auto
  @include breakpoint(800px down)
    margin-top: 25px
  @include breakpoint(small only)
    margin-top: 85px

section
  .inner
    +clearfix
    margin: 0 auto
    max-width: $container-width
    width: 100%
    padding-left: 20px
    padding-right: 20px
    min-height: 100%

  &:last-child
    padding-bottom: 50px

footer
  flex: 0 0 auto

</style>
