<template lang="pug">
.site-wrapper.error-page
  spmm-header
  .section-wrapper
    section
      .inner
        .content.error-content
          .error(v-if="error.statusCode === 404")
            h1 404
            .description
              .title Страница, на которую вы попали, не существует.
              .text Вы можете 
                nuxt-link(:to="{name: 'index'}") вернуться на главную
                br
                |или 
                br
                |посмотреть наши последние новости ниже.
    section
      .inner
        .content.more
          .title Последние новости
          .row.last-news
            news-item(v-for="item in news", :key="item.id", :item="item")
  spmm-footer
  login
</template>

<script>
import SpmmHeader from '~/blocks/header'
import SpmmFooter from '~/blocks/footer'
import Login from '~/components/Login.vue'
import NewsItem from '~/components/NewsItem'

export default {
  props: ['error'],
  name: 'error',
  data () {
    return {
      news: []
    }
  },
  mounted () {
    if (this.$route.fullPath !== '/404') this.$router.push('/404')
    this.$axios.$get('/article', {
      params: {
        page: 1,
        page_size: 3,
        sort_by: 'created_at',
        sort_dir: 'desc',
        type: 'news'
      }
    }).then(res => {
      this.news = res.items
    })
  },
  components: {
    SpmmHeader,
    SpmmFooter,
    Login,
    NewsItem
  },
  head () {
    return {
      title: 'Страница не найдена'
    }
  }
}
</script>

<style lang='sass'>

html
  height: 100%
  box-sizing: border-box

  &.overflow-none
    position: fixed
    overflow-y: scroll

html,
body,
#__nuxt
  min-width: 300px
  position: relative
  margin: 0
  padding: 0
  height: 100%
  min-height: 100%

.error-page

  &.site-wrapper
    display: flex
    flex-direction: column
    min-width: 300px
    justify-content: space-between
    box-orient: vertical
    min-height: 100%
    height: 100%

  header
    position: relative
    z-index: 2
    flex: 0 0 auto

  .section-wrapper
    flex: 1 0 auto
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    @include breakpoint(small only)
      margin-top: 85px

  section
    width: 100%
    .inner
      +clearfix
      margin: 0 auto
      max-width: $container-width
      width: 100%
      padding-left: 20px
      padding-right: 20px
      min-height: 100%
      display: flex
      flex-direction: row
      align-items: center
      justify-content: center
    .content
      width: 100%

  footer
    flex: 0 0 auto

  .error
    display: flex
    flex-direction: row
    align-items: top
    justify-content: center
  
  h1
    font-size: 120px
    line-height: 122px
    font-weight: 500
    color: $mono-dark

  .description
    margin-top: 15px
    margin-left: 25px
    color: $mono-dark
    max-width: 400px

  .title
    font-weight: 500

  .text
    margin-top: 5px
    a
      color: $mono-dark

.error-content
  margin-top: 50px
  margin-bottom: 50px

.more
  .title
    margin-bottom: 20px

</style>