<template lang="pug">
section
  .inner.relative
    breadcrumbs(:crumbs="crumbs")
    router-link.createClub(v-if="admin", to="/club/create") Добавить клуб +
    .content
      .row
</template>

<script>
import Breadcrumbs from '~/components/Breadcrumbs'
import moment from '~/libs/moment'
import { mapGetters } from 'vuex'

const fetchItems = function ({ query, app, admin }) {
  return app.$axios.$get('/club', {
    params: {
      page: 1,
      page_size: 100,
      ...admin ? { is_displayed: 'all' } : {}
    }
  })
}

export default {
  name: 'calendar-month',
  asyncData ({ query, app, store }) {
    let admin = store.state.auth.role === 'admin'
    return fetchItems({ query, app, admin }).then(res => {
      return {
        list: res.items,
        total: res.meta.total
      }
    }).catch(err => {
      console.log(err)
    })
  },
  computed: {
    ...mapGetters('auth', ['admin']),
    crumbs () {
      let date = moment(this.$route.params.month, 'MM-YYYY')
      let year = date.format('YYYY')
      let month = date.format('MMMM')
      return [
        { name: 'Календарь', route: {} },
        { name: year, route: {} },
        { name: month, route: {} }
      ]
    }
  },
  components: {
    Breadcrumbs
  }
}
</script>

<style lang="sass" scoped>
.createClub
  display: inline-block
  position: absolute
  right: 20px
  top: 0
  font-size: 15px
  cursor: pointer
  text-decoration: underline
  &:hover
    text-decoration: none
</style>