<template lang="pug">
.history
  section
    .inner
      breadcrumbs(:crumbs="crumbs")
      .content
        article-comp(:item="item", :show_main_image="false", :show_date="false")
</template>

<script>
import Breadcrumbs from '~/components/Breadcrumbs'
import ArticleComp from '~/components/Article'

export default {
  name: 'history',
  components: {
    ArticleComp,
    Breadcrumbs
  },
  asyncData ({ params, app }) {
    return app.$axios.$get('/article/istoriia').then(res => {
      return {
        item: res
      }
    })
  },
  computed: {
    crumbs () {
      return [
        { name: 'История', route: {} }
      ]
    }
  },
  head () {
    return {
      title: 'История СПММ'
    }
  }
}
</script>