<template lang="pug">
.breadcrumbs
  router-link(
    v-for='crumb, idx in crumbs',
    :to='crumb.route',
    :key='idx'
  ) {{ crumb.name }}
</template>

<script>
export default {
  name: 'breadcrumbs',
  props: {
    crumbs: {
      type: Array,
      default () {
        return []
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.breadcrumbs
  font-size: rem-calc(13px)
  line-height: rem-calc(20px)
  padding-right: 190px
  margin: 12px 0 42px
  margin-left: 100px

  @include breakpoint(small only)
    display: none

  a
    display: inline-block
    line-height: rem-calc(20px)
    font-size: rem-calc(13px)
    text-decoration: underline
    // text-transform: capitalize

    &::before
      content: ''
      display: inline-block
      vertical-align: middle
      width: 12px
      height: 9px
      margin: 0 9px
      background: url('~assets/arrow-news.svg') no-repeat

  span
    &::before
      content: ''
      display: inline-block
      vertical-align: middle
      width: 12px
      height: 9px
      margin: 0 9px
      background: url('~assets/arrow-news.svg') no-repeat


    &:hover
      text-decoration: none
</style>