<template lang='pug'>
.login(:class='{active: loginVisible}')
  .click-catch(@click='hideLogin')
  .login-box
    .icon
    .input-group
      .input-name Логин
      .input
        input(type='text', v-model='login')
    .input-group
      .input-name Пароль
      .input
        input(type='password', v-model='password')
    button.do-login(
      :class='{disabled: !readyToLogin}',
      @click='initiateLogin'
    ) Войти
    .hint(v-if='wrongCredentials') Неверный логин или пароль
</template>

<script>
import { mapActions, mapState, mapMutations } from 'vuex'

export default {
  name: 'login',
  data () {
    return {
      login: '',
      password: '',
      wrongCredentials: false
    }
  },
  computed: {
    ...mapState('auth', ['loginVisible']),
    readyToLogin () {
      return this.login && this.password
    }
  },
  methods: {
    ...mapActions('auth', ['tryLogin', 'checkTokenHealth']),
    ...mapMutations('auth', ['hideLogin']),
    async initiateLogin () {
      if (!this.readyToLogin) {
        return
      }
      const success = await this.tryLogin({
        login: this.login,
        password: this.password
      })
      this.wrongCredentials = !success
      if (success) {
        this.hideLogin()
      }
    }
  },
  mounted () {
    this.checkTokenHealth()
  }
}
</script>

<style scoped lang='sass'>
.login
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0
  background-color: transparentize($faintly-orange, .1)
  z-index: 50
  display: none
  align-items: center
  justify-content: center

  &.active
    display: flex

  .click-catch
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    cursor: pointer

  .login-box
    position: relative
    min-width: 350px
    min-height: 400px
    background-color: #fff
    border: 1px solid $orange
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-start

    .icon
      width: 28px
      height: 21px
      background-image: url('~assets/login-big.svg')
      margin-top: 58px
      margin-bottom: 48px

    .input-group
      width: 240px
      margin-bottom: 18px

      .input-name
        text-align: center
        font-size: 13px
        color: $mono-mid
        margin-bottom: 2px

      .input
        width: 100%

        input
          font-size: 14px
          color: $mono-dark
          text-align: center
          padding: 5px 10px

    .do-login
      cursor: pointer
      background-color: $faintly-orange
      border: 1px solid $orange
      color: rgba(0, 0, 0, .75)
      width: 160px
      height: 48px
      font-size: 14px
      margin-top: 20px
      margin-bottom: 12px

      &:hover
        background-color: darken($faintly-orange, 5%)
        border-color: darken($orange, 5%)

      &.disabled
        background-color: lighten($mono-mid, 40%)
        border-color: $mono-mid
        opacity: .35
        cursor: default

    .hint
      font-size: 12px
      color: $red
</style>
