<template lang="pug">
section.map-info
  .map
    GmapMap(id="map", :options="map.options", :center="map.center", :zoom="map.zoom")
      GmapMarker(:position="marker.position", :icon="mapSettings.markerIcon")
  .inner
    .left-map-info
      p Юридический адрес
        br
        | МРМОО «Союз православной молодежи Мордовии»:
      span 430000, г. Саранск, ул. Саранская, 67
      p Тел./факс:
      span (8342) 47-11-47
      p E-mail:
      span spmmsaransk@mail.ru
</template>

<script>
import Vue from 'vue'
import * as VueGoogleMaps from '~/node_modules/vue2-google-maps/src/main'
import mapStyles from '~/assets/map-styles.json'
import mapSettings from '~/components/mapSettings'

Vue.use(VueGoogleMaps, {
  load: {
    key: 'AIzaSyDnv21AR_4TOuMXQL-VorbD3aLNBxkQqxg'
  }
})

export default {
  name: 'map-address',
  data () {
    return {
      map: {
        center: {
          lat: 54.179900,
          lng: 45.183800
        },
        zoom: 17,
        options: {
          disableDefaultUI: true,
          zoomControl: true,
          streetViewControl: true,
          styles: mapStyles
        }
      },
      mapSettings: mapSettings,
      marker: {
        position: {
          lat: 54.179922,
          lng: 45.186733
        }
      }
    }
  }
}
</script>

<style lang="sass" scoped>
.map-info
  position: relative
  overflow: auto
  margin-top: 70px
  padding-bottom: 0
  @include breakpoint(small only)
    margin-top: 0

#map
  width: 100%
  height: 100%
  position: absolute
  left: 0
  top: 0


.left-map-info
  width: 50%
  background: $white
  position: relative
  z-index: 2
  box-shadow: 0px 2px 2px 0 transparentize($black,0.9)
  margin: 40px 0px
  padding: 35px 40px

  @include breakpoint(small only)
    width: 100%
    padding: 0
    box-shadow: none

  p
    font-size: rem-calc(12.5px)
    line-height: rem-calc(18px)
    font-weight: 600
    margin-top: 30px
    margin-bottom: 10px

    &:first-child
      margin-top: 0

  span
    font-size: rem-calc(14.5px)
    line-height: rem-calc(16px)
    display: block
    margin-top: 5px

.map
  @include breakpoint(small only)
    display: none
</style>
