<template lang="pug">
.news-block
  router-link.img-wrapper(:to="{name: 'news-url_slug', params: {url_slug: item.slug}}", :class="{'none-image': !item.picture}", :style="item.picture ? {backgroundImage: 'url(' + item.picture_real.url + ')'} : {}")
  .news-text-wrapper
    .news-title
      .title {{ item.name.length > 80 ? item.name.slice(0, 80) + '...' : item.name }}
      .date {{ formatDate(item.created_at) }}
    .news-text
      p {{ stripHTML(item.body) }}
    router-link.read-more(:to="{name: 'news-url_slug', params: {url_slug: item.slug}}")
      span Далее
</template>

<script>
import stripHTML from '~/libs/stripHTML'
import moment from '~/libs/moment'

export default {
  name: 'news-item',
  props: ['item'],
  methods: {
    formatDate (date) {
      let formatingDate = moment(date)
      if (!formatingDate) return ''
      return formatingDate.format('D MMMM')
    },
    stripHTML
  }
}
</script>

<style lang="sass" scoped>
.news-block
  height: 313px
  margin-bottom: 40px
  overflow: hidden
  position: relative
  @include flex-grid-column(33.333%, 35px)
  @include breakpoint(900px down)
    @include flex-grid-column(50%, 35px)
  @include breakpoint(small only)
    @include flex-grid-column(100%, 35px)

  &.halfhidden
    opacity: 0.5

  a.img-wrapper
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    display: block
    height: 200px
    position: relative
    transition: transform .05s ease-in-out
    width: 100%

    &:hover
      transform: translateY(2px)
      transition: transform .1s ease-in-out

    &.none-image
      background-color: $faintly-orange
      background-image: url('~assets/news-dumy.png')
      background-size: auto 80%


.news-title
  // background: transparentize($grey, .2)
  margin-top: 15px
  width: 100%
  display: flex
  flex-direction: row
  align-items: flex-start

  // &.orange
  //   background: transparentize($orange, .2)

  // &.blue
  //   background: transparentize($dark-blue, .2)

  .title
    font-size: 18px
    line-height: 22px
    font-weight: 500
    flex: 1 1 0%

  .date
    font-size: 13px
    opacity: .7
    flex: 0 0 auto
    margin-left: 10px

.news-text
  margin-top: 15px

  p
    font-size: 13px

.read-more
  background: url('~assets/arrow-news.svg') no-repeat right bottom 3px, linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 52%, #ffffff 100%)
  bottom: -0.5px
  display: block
  padding-left: 60px
  padding-right: 20px
  position: absolute
  right: 15px

  &:hover
    text-decoration: none

    span
      border-color: transparent

  span
    color: $grey
    font-size: 12px


span.img-preview
  display: none
  width: 150px
  height: 100px
  margin-right: 10px
  margin-bottom: 10px
  vertical-align: middle
  
  &[style]
    display: inline-block
    background-repeat: no-repeat
    background-size: contain
    background-position: center center
</style>