<template lang="pug">
.pagination(v-if="total > 1")
  router-link.arrow-left(
    :class='{disabled: current == 1}',
    :to='{query: {page: current - 1, search: $route.query.search}}'
  )
  router-link.page-href(
    v-for='idx in total',
    v-if='toShow(idx)',
    :class='{active: idx == current, near: isNearToActive(idx), middle: isMiddle(idx)}',
    :to='{query: {page: idx, search: $route.query.search}}',
    :key='idx'
  ) {{ getIdxText(idx) }}
  router-link.arrow-right(
    :class='{disabled: current == total}',
    :to='{query: {page: current + 1, search: $route.query.search}}'
  )
</template>

<script>
export default {
  name: 'pagination',
  props: {
    total: {
      type: Number,
      default: 0
    }
  },
  methods: {
    toShow (idx) {
      return this.isSide(idx) || this.isMiddle(idx) || this.isNearToActive(idx)
    },
    isSide (idx) {
      return idx === 1 || idx === this.total
    },
    isMiddle (idx) {
      return Math.ceil(this.current / 2) === idx || Math.ceil(this.total - ((this.total - this.current) / 2)) === idx
    },
    isNearToActive (idx) {
      return (((this.current - 3) < idx) && (idx < (this.current + 3)))
    },
    getIdxText (idx) {
      return (this.isMiddle(idx) && !this.isNearToActive(idx)) ? '...' : idx
    }
  },
  computed: {
    current () {
      return parseInt(this.$route.query.page) || 1
    }
  }
}
</script>

<style lang="sass" scoped>
.pagination
  display: inline-block

  a
    text-decoration: none

  a.arrow-left,
  a.arrow-right
    display: inline-block
    vertical-align: middle
    opacity: 1
    width: 36px
    height: 36px
    background: url('~assets/arrow-news.svg') no-repeat center center
    &.disabled
      opacity: 0.5
      pointer-events: none

  a.arrow-left
    transform: scaleX(-1)

  a.page-href
    display: inline-block
    vertical-align: middle
    font-weight: 500
    font-size: rem-calc(15px)
    width: 36px
    height: 36px
    border-radius: 50%
    line-height: rem-calc(36px)
    background: $more-light-white
    text-align: center
    margin: 0 1.5px

    &[href]:not(.active)
      background: transparent
      font-weight: 400

      &:hover
        background: $more-light-white

  // .dotted
  //   padding: 0 5px
</style>