<template lang="pug">
vue-editor(
  :value="value",
  @input="handleInput",
  :editorToolbar="customToolbar",
  :editorOptions="editorSettings",
  :placeholder="placeholder",
  useCustomImageHandler,
  @image-added='handleImageAdded',
  ref='quill'
)
</template>

<script>
export default {
  name: 'visual-editor',
  data () {
    return {
      placeholder: 'Содержимое',
      customToolbar: [
        ['bold', 'italic', 'underline', 'strike'],
        [ { 'list': 'ordered' }, { 'list': 'bullet' } ],
        [{ 'header': [2, 3, 4, false] }],
        [{ 'align': [] }],
        ['link'],
        ['image', 'video'],
        ['clean']
      ],
      content_internal: '',
      editorSettings: {
        modules: {
          imageResize: {}
        }
      }
    }
  },
  props: {
    value: {
      type: String,
      default: ''
    }
  },
  methods: {
    handleImageAdded (file, editor, cursorLocation) {
      let data = new FormData()
      data.append('file', file)
      this.$axios.$post('/file', data).then(response => {
        let url = response.url
        editor.insertEmbed(cursorLocation, 'image', url)
        this.$emit('pictureAdded', response.id)
      }).catch(err => {
        console.log(err)
      })
    },
    handleInput (newValue) {
      this.$emit('input', newValue)
    }
  },
  mounted () {
    this.content_internal = this.value
  },
  watch: {
    '$refs.quill.editor' (newEditor) {
      console.log('new editor:', newEditor)
    }
  }
}
</script>
