<template lang="pug">
div
  form(v-if="admin", id="create-news", action="", @submit.prevent="saveClub")
    .row
      .main-column
        .news-admin-left
          .input
            input.name-input(placeholder="Название клуба", name="title_club", type="text", v-model="item.name")
          flat-pickr.data-news(v-if="dateDump && show_date", v-model="dateDump")
          visual-editor.editor(v-model="item.body", @pictureAdded="pictureAdded", ref="ve")
      .right-column(v-if="show_main_image")
        .photo-upload
          .photo-preview(v-if="mainPicture.url")
            .photo(:style="{backgroundImage: 'url(' + mainPicture.url + ')'}")
            .close-button(@click="mainPicture = {}")
          .file-upload-wrapper(v-else)
            span Выберите основную картинку
            input(type="file", @change="onFileChanged")
    .buttons
      input.save-all(type="submit", value="Сохранить")
      .save-all.remove-all(v-if="show_delete_button", @click="openConfirm=true") Удалить
      .switch-wrapper(v-if="show_hidden_button")
        input.switch(type="checkbox", id="hidden-switch", v-model="switch_value")
        label.switch-button(for="hidden-switch")
          .switch-round
        .label-text.text-true Отображается
        .label-text.text-false Скрыто
      .switch-wrapper(v-show="create_page")
        input.switch(type="checkbox", id="is_page", v-model="switch_type")
        label.switch-button(for="is_page")
          .switch-round
        .label-text.text-true Является страницей
        .label-text.text-false Является новостью
    .confirm-window(:class="{active: openConfirm}")
      .confirmation
        .title Вы действительно хотите удалить эту статью?
        .buttons
          .save-all(@click="deleteArticle") Да
          .save-all.remove-all(@click="openConfirm=false") Нет
  div(v-else) Вы не авторизованы.
</template>

<script>
import VisualEditor from '~/components/VisualEditor'
import moment from '~/libs/moment'
import { mapGetters } from 'vuex'
import flatPickr from 'vue-flatpickr-component'
import 'flatpickr/dist/flatpickr.css'

export default {
  name: 'article-editor',
  components: {
    VisualEditor,
    flatPickr
  },
  computed: {
    ...mapGetters('auth', ['admin'])
  },
  props: {
    item: {
      type: Object,
      default: () => ({})
    },
    create_page: {
      type: Boolean,
      default: false
    },
    show_main_image: {
      type: Boolean,
      default: true
    },
    show_date: {
      type: Boolean,
      default: true
    },
    show_name: {
      type: Boolean,
      default: true
    },
    show_hidden_button: {
      type: Boolean,
      default: false
    },
    show_delete_button: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      mainPicture: {},
      uploading: false,
      switch_value: true,
      switch_type: false,
      patchEdit: false,
      openConfirm: false,
      dateDump: ''
    }
  },
  methods: {
    formatDate (date) {
      return moment(date).format('D MMMM')
    },
    pictureAdded (pictureId) {
      this.item.pictures.push(pictureId)
    },
    onFileChanged (e) {
      var files = e.target.files || e.dataTransfer.files
      if (!files.length) return
      this.uploadImage(files[0])
    },
    uploadImage (img) {
      var data = new FormData()
      data.append('file', img)
      this.uploading = true
      this.$axios.$post('/file', data).then(response => {
        this.mainPicture = response
        this.item.picture = response.id
        this.uploading = false
      }).catch(err => {
        console.log(err)
        this.error_message = 'Картинка не загружена, попробуйте еще раз'
        this.uploading = false
      })
    },
    saveClub () {
      this.$refs.ve.$refs.quill.quill.insertText(0, 'Save...', 'bold', true)
      this.$refs.ve.$refs.quill.quill.deleteText(0, 7)
      this.item.is_displayed = this.switch_value
      this.item.created_at = moment(this.dateDump, 'YYYY-MM-DD').toISOString()
      if (!this.patchEdit) {
        this.$axios.$post('/club', this.item).then(response => {
          console.log(this.item)
          this.$emit('edit')
          this.$router.push({name: 'club-id', params: { id: response.id }})
        }).catch(err => {
          console.log(err)
        })
      } else {
        this.$axios.$patch(`/club/${this.item.id}`, this.item).then(response => {
          console.log(this.item)
          this.$emit('edit')
        }).catch(err => {
          console.log(err)
        })
      }
    },
    deleteArticle () {
      this.$axios.$delete(`/club/${this.item.id}`).then(response => {
        this.$router.push({name: 'calendar'})
      }).catch(err => {
        console.log(err)
      })
    }
  },
  mounted () {
    if (this.item.is_displayed != null) {
      this.switch_value = this.item.is_displayed
    }
    if (this.item.type === 'page') {
      this.switch_type = true
    }
    if (this.item.picture_real) {
      this.mainPicture = this.item.picture_real
    }
    if (this.item.slug) {
      this.patchEdit = true
    }
    if (this.item.created_at) {
      this.dateDump = this.item.created_at
    }
  }
}
</script>

<style lang="sass" scoped>
.confirm-window
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0
  background-color: transparentize($faintly-orange, .1)
  z-index: 50
  display: none
  align-items: center
  justify-content: center
  &.active
    display: flex

.confirmation
  position: relative
  max-width: 550px
  padding: 20px
  background-color: #fff
  border: 1px solid $orange
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start
  .title
    font-size: 20px
    font-weight: 500
    margin: 25px 0

.buttons
  font-size: 0
  & > *
    display: inline-block
    vertical-align: middle
    &:not(:first-child)
      margin-left: 25px
    @include breakpoint(small only)
      display: block
      margin: 15px auto
      padding: 0
      &:not(:first-child)
        margin-left: auto

.switch-wrapper
  @include breakpoint(small only)
    text-align: center
  & > *:not(.switch)
    display: inline-block
    vertical-align: middle

.switch
  display: none

.switch-wrapper .switch:checked
  & + .switch-button
    // background-color: $mono-mid
    opacity: 1
    .switch-round
      // background-color: $more-light-white
      left: 30px
  & ~ .text-false
    display: none
  & ~ .text-true
    display: inline-block

.switch-wrapper .text-true
  display: none

.switch-button
  cursor: pointer
  width: 68px
  height: 40px
  background-color: $mono-mid
  opacity: 0.5
  // background-color: $more-light-white
  border-radius: 40px
  position: relative
  // margin-left: 32px
  transition: opacity 0.3s ease-in-out

.switch-round
  position: absolute
  left: 2px
  top: 2px
  height: 36px
  width: 36px
  border-radius: 50%
  background-color: $more-light-white
  // background-color: $light-white
  transition: left 0.3s ease-in-out

.label-text
  margin-left: 15px
  font-size: 15px
  color: $mono-mid

.save-all
  width: 160px
  height: 46px
  font-weight: 600
  color: $mono-mid
  cursor: pointer
  // border: 1px solid $mono-mid
  border: 1px solid $orange
  text-align: center
  line-height: 40px
  font-size: 15px
  // background-color: $light-white
  background-color: $faintly-orange

  &.remove-all
    // margin-left: 25px
    background-color: $light-white
    border-color: $mono-mid
  &:focus
    outline: none

.input,
.data-news
  margin-bottom: 15px

.editor
  margin-bottom: 30px

.name-input
  color: $grey
  font-size: 19px

.news-admin-left
  color: $grey

.data-news
  color: $mono-mid
  font-size: 13px

.file-upload-wrapper
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  position: relative
  width: 100%
  height: 83px
  border: 1px dashed $mono-mid
  border-radius: 10px
  background-color: #ffffff
  color: $mono-mid
  font-size: 14px
  text-align: center
  margin-bottom: 30px
  &::after
    content: ''
    width: 32px
    height: 25px
    background-repeat: no-repeat
    background-image: url('~assets/upload-icon.svg')
    margin-left: 30px
  input
    opacity: 0
    width: 100%
    height: 100%
    position: absolute
    margin: 0
    z-index: 1
    top: 0
    left: 0
    cursor: pointer

.photo-preview
  display: inline-block
  vertical-align: middle
  position: relative
  width: 100%
  height: 180px
.photo
  width: 100%
  height: 100%
  background-color: $mono-mid
  background-size: cover
  background-position: center center
.close-button
  position: absolute
  width: 51px
  height: 51px
  background-image: url('~assets/close.svg')
  top: -25.5px
  right: -25.5px
  cursor: pointer
</style>