<script>
import moment from '~/libs/moment'
export default {
  fetch ({ params, redirect }) {
    let now = moment().format('MM-YYYY')
    let link = '/calendar/' + now
    redirect(301, link)
  }
}
</script>

<style lang="sass" scoped>

</style>