<template lang="pug">
.article-view
  .row
    .main-column
      .article-view
        h1(v-if="show_name") {{ item.name }}
        .data-news(v-if="item.created_at && show_date") {{ formatDate(item.created_at) }}
        .article-body(v-html="cleanHTML(item.body)")
        .editor-mode(v-if="admin", @click="enableEdit")
    .right-column(v-if="show_main_image")
      .photo-preview
        .photo(:style="(item.picture_real && item.picture_real.url) ? {backgroundImage: 'url(' + item.picture_real.url + ')'} : {}", :class="{'none-image': !item.picture_real}")
</template>

<script>
import moment from '~/libs/moment'
import cleanHTML from '~/libs/cleanHTML'
import { mapGetters } from 'vuex'

export default {
  name: 'article-view',
  computed: {
    ...mapGetters('auth', ['admin'])
  },
  props: {
    item: {
      type: Object,
      default: () => ({})
    },
    show_main_image: {
      type: Boolean,
      default: true
    },
    show_date: {
      type: Boolean,
      default: true
    },
    show_name: {
      type: Boolean,
      default: true
    }
  },
  methods: {
    cleanHTML,
    formatDate (date) {
      let formatingDate = moment(date)
      if (!formatingDate) return ''
      return formatingDate.format('D MMMM')
    },
    enableEdit () {
      this.$emit('edit')
    }
  }
}
</script>

<style lang="sass" scoped>
.article-view
  position: relative

.photo-preview
  display: inline-block
  vertical-align: middle
  position: relative
  width: 100%
  height: 180px

.photo
  width: 100%
  height: 100%
  background-color: $mono-mid
  background-size: cover
  background-position: center center
  background-repeat: no-repeat
  &.none-image
    background-color: $faintly-orange
    background-image: url('~assets/news-dumy.png')
    background-size: auto 80%

.data-news
  margin-bottom: 15px

.data-news
  color: $mono-mid
  font-size: 13px

.editor-mode
  position: absolute
  top: -8px
  right: 0
  width: 36px
  height: 36px
  background-color: $light-white
  border-radius: 50%
  background-repeat: no-repeat
  background-position: center center
  background-image: url('~assets/edit-icon.svg')
  box-shadow: -2px 2px 5px 1px rgba(0, 0, 0, 0.1)
  cursor: pointer

</style>