<template lang="pug">
.article-item
  article-editor(v-if="editor_mode", :item="item", @edit="closeEdit", :show_main_image="show_main_image", :show_date="show_date", :show_name="show_name", :show_hidden_button="show_hidden_button", :show_delete_button="show_delete_button")
  article-view(v-else, :item="item", @edit="enableEdit", :show_main_image="show_main_image", :show_date="show_date", :show_name="show_name")
</template>

<script>
import ArticleEditor from './ArticleEditor'
import ArticleView from './ArticleView'

export default {
  name: 'article-item',
  components: {
    ArticleEditor,
    ArticleView
  },
  props: {
    item: {
      type: Object,
      default: () => ({})
    },
    show_main_image: {
      type: Boolean,
      default: true
    },
    show_date: {
      type: Boolean,
      default: true
    },
    show_name: {
      type: Boolean,
      default: true
    },
    show_hidden_button: {
      type: Boolean,
      default: false
    },
    show_delete_button: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      editor_mode: false
    }
  },
  mounted () {
    if (!this.item.id) {
      this.editor_mode = true
    }
  },
  methods: {
    enableEdit () {
      this.editor_mode = true
    },
    closeEdit () {
      this.editor_mode = false
    }
  }
}
</script>
