<template lang="pug">
.index-page
  section
    .want-know-where-slider
      .inner
        carousel.slider(
          :perPage='1',
          :paginationEnabled='false',
          ref='carousel',
          :autoplay="true",
          :loop="true",
          :autoplayTimeout="5000",
          @pageChange='handlePageChange'
        )
          slide.my-slide(v-for="slide in slides", :key="slide.id")
            router-link.news-index-block(:to="/news/+slide.slug")
              .img-wrapper.news-index-img(:style="slide.picture_real ? {backgroundImage: 'url(' + slide.picture_real.url + ')'} : {}")
              .news-index-content
                .title(:class="{ compact: slide.name.length > 80 }") {{ slide.name }}
                .news-text-wrapper
                  .news-text
                    p {{ stripHTML(slide.body).slice(0, 240) + '...' }}
        .pagination(v-if="slides.length > 0")
          .pag(v-for="idx in slides.length", :class="{active: idx - 1 == activeSlide}", @click="goToSlide(idx-1)") {{ idx }}
    .inner
      .content
        .row
          .main-column
            article-comp(:item="item", :show_main_image="false", :show_date="false", :show_name="false")
          .right-column
            a.partner(href="http://pravkonkurs.ru/", target="_blank")
              img(src="~/assets/initiative.svg", alt="")
  map-address
</template>

<script>
import ArticleComp from '~/components/Article'
import Carousel from 'vue-carousel/src/Carousel.vue'
import Slide from 'vue-carousel/src/Slide.vue'
import stripHTML from '~/libs/stripHTML'
import MapAddress from '~/components/MapAddress.vue'

export default {
  name: 'index',
  components: {
    ArticleComp,
    Carousel,
    Slide,
    MapAddress
  },
  async asyncData ({ params, app }) {
    let data = {}
    await Promise.all([
      app.$axios.$get('/article/glavnaia').then(res => {
        data.item = res
      }),
      app.$axios.$get('/article', {
        params: {
          page: 1,
          page_size: 10,
          sort_by: 'created_at',
          sort_dir: 'desc',
          type: 'news'
        }
      }).then(res => {
        data.slides = res.items
      })
    ])
    return data
  },
  data () {
    return {
      activeSlide: 0
    }
  },
  methods: {
    stripHTML,
    handlePageChange (idx) {
      this.activeSlide = idx
    },
    goToSlide (idx) {
      this.$refs.carousel.goToPage(idx)
    }
  }
}
</script>

<style lang="sass" scoped>

.slider
  list-style: none
  padding: 0
  
.content-main
  padding-right: 40px

.want-know-where-slider
  background: url('~assets/slider_bg.png') no-repeat 0 0/cover
  position: relative
  height: 500px

  @include breakpoint(800px down)
    display: none

  &+.inner
    padding-top: 25px
    @include breakpoint(small only)
      padding-top: 0
  
  .inner
    position: relative
    z-index: 2
    display: flex
    flex-direction: row
    align-items: center
    padding-left: 65px
    padding-right: 65px

  &::after
    content: ''
    display: block
    position: absolute
    top: 0
    z-index: 1
    left: 0
    width: 100%
    height: 100%
    background: transparentize($slider,0.2)


.pagination
  margin-top: 0
  position: absolute
  width: 100%
  bottom: 40px
  font-size: 0
  text-align: center
  width: calc(100% - 130px)
  .pag
    border-radius: 50%
    display: inline-block
    vertical-align: middle
    font-size: 15px
    cursor: pointer
    margin: 0 5px
    width: 36px
    height: 36px
    line-height: 36px
    text-align: center
  .pag.active
    background-color: white
    color: $grey
    font-weight: 600
  .pag:not(.active)
    color: $white
    &:hover
      background: transparentize($white, 0.85)

.slider
  width: 100%

.my-slide
  position: relative
  max-width: 100%

.news-index-block
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: space-between
  align-items: center
  max-width: 986px
  margin: 0 auto
  text-decoration: none

.news-index-img
  width: 140px
  height: 140px
  border-radius: 50%
  flex: 0 0 140px
  background-size: cover
  background-position: center center

.news-index-content
  flex: 1 1 auto
  padding-left: 44px
  margin-left: 40px
  border-left: 4px solid $orange
  color: $white
  min-height: 192px
  display: flex
  flex-direction: column
  justify-content: center

  .news-text-wrapper
    height: 108px
    font-size: 14px
    max-width: 560px
    position: relative

  .title
    font-weight: 300
    font-size: 40px
    line-height: 1.25

    &.compact
      font-size: 32px

.read-more-index
  background: url('~assets/arrow-news-white.svg') no-repeat right bottom 4px
  padding-right: 20px
  color: $white
  float: right
  @include breakpoint(960px)
    float: none
    position: absolute
    right: -25px
    bottom: 22px
  span
    font-size: 13px
    font-weight: bold

.partner
  display: block
  width: 100%
  font-size: 0
  text-align: center
  img
    display: inline-block
    max-width: 100%
</style>

