<template lang="pug">
section
  .inner.relative
    breadcrumbs(:crumbs="crumbs")
    .content
      .title Эта страница находится в разработке.
</template>

<script>
import Breadcrumbs from '~/components/Breadcrumbs'

export default {
  name: 'searсh',
  data () {
    return {
      crumbs: [
        { name: 'Поиск', route: {} }
      ]
    }
  },
  components: {
    Breadcrumbs
  },
  head () {
    return {
      title: 'Поиск по сайту СПММ'
    }
  }
}
</script>