<template lang="pug">
.contacts
  section
    .inner
      breadcrumbs(:crumbs="crumbs")
      .content
        article-comp(:item="item", :show_main_image="false", :show_date="false")
  map-address
</template>

<script>

import Breadcrumbs from '~/components/Breadcrumbs'
import ArticleComp from '~/components/Article'
import MapAddress from '~/components/MapAddress.vue'

export default {
  name: 'contacts',
  components: {
    ArticleComp,
    Breadcrumbs,
    MapAddress
  },
  asyncData ({ params, app }) {
    return app.$axios.$get('/article/kontakty').then(res => {
      return {
        item: res
      }
    })
  },
  computed: {
    crumbs () {
      return [
        { name: 'Контакты', route: {} }
      ]
    }
  },
  head () {
    return {
      title: 'Контакты СПММ'
    }
  }
}
</script>