<template lang="pug">
footer
  .inner
    .footer-row
      .menu-footer-wrapper
        .menu-footer
          ul
            li
              router-link(:to="{name: 'news'}") Новости
              //- ul
              //-   li: a(href="#") Архив 2015
              //-   li: a(href="#") Архив 2014
              //-   li: a(href="#") Архив 2013
              //-   li: a(href="#") Архив 2012
              //-   li: a(href="#") Архив 2011
              //-   li: a(href="#") Архив 2010
            //- li
            //-   a(href="#") Календарь
            //- li
            //-   a(href="#") Медиа
            //-   ul
            //-     li: router-link(to="#") Фотографии
            //-     li: router-link(to="#") Видео
            //-     li: router-link(to="#") Литература
            li
              span О нас
              ul
                //- li: router-link(to="#") СМИ о нас
                li: router-link(:to="{name: 'about-history'}") История
                //- li: router-link(to="#") Руководство
                li: router-link(:to="{name: 'about-contacts'}") Контакты
            li: router-link(:to="{name: 'coordinationcenter'}") Координационный центр
              //- br
              //- |центр
      .social-network-wrapper
        .social-network
          a.vk-social(href="https://vk.com/club10346757", target="_blank")
          a.fb-social(href="http://www.facebook.com/groups/232076383542380/", target="_blank")
          //- a.twitter(href="#")
          //- a.rss(href="#")
        .logout(
          v-if='admin',
          @click='logout'
        ): span Выйти
        .login(
          v-else,
          @click='showLogin'
        ): span Войти
        .copyright
          p По благословению Высокопреосвященнейшего
          p Митрополита Саранского и Мордовского ЗИНОВИЯ
          p ® © СПММ 2005-{{ currentYear }}
          p Все права защищены. При цитировании материалов ссылка на cpmm.ru обязательна.
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
import moment from '~/libs/moment'

export default {
  name: 'footer-spmm',
  computed: {
    ...mapGetters('auth', ['admin']),
    currentYear () {
      return moment().format('YYYY')
    }
  },
  methods: {
    ...mapMutations('auth', ['showLogin', 'logout'])
  }
}
</script>

<style lang="sass" scoped>

.footer-row
  @include breakpoint(medium)
    @include flex-grid-row($behavior: nest, $gutters: 150px)
    // & > *
    .menu-footer-wrapper
      @include flex-grid-column(40%, 150px)
    .social-network-wrapper
      @include flex-grid-column(60%, 150px)

.menu-footer-wrapper
  ul
    padding-left: 0
  @include breakpoint(small only)
    display: none

.social-network-wrapper
  text-align: right

footer
  background: $grey
  width: 100%

  .inner
    height: 100%
    margin: 0 auto
    max-width: $container-width
    padding: 30px 20px 30px
    position: relative
    overflow: hidden

.menu-footer

  &>ul
    display: flex
    flex-direction: column
    flex-wrap: wrap
    // height: 180px
    height: 150px
    margin-bottom: 0

    &>li
      display: inline-block
      font-weight: 600
      margin-right: 120px

      &>a,
      &>span
        display: inline-block
        margin-bottom: 12px

    ul
      margin-bottom: 12px
      list-style: none
      padding-left: 0

      li
        line-height: 21px

  a,
  span
    color: $more-light-white
    font-size: 13px
    text-decoration: none
  a
    &:hover
      text-decoration: underline

  li
    font-weight: normal
    line-height: 17px

.social-network
  margin-right: -15px

  a
    background-position: center center
    background-repeat: no-repeat
    display: inline-block
    height: 40px
    opacity: .7
    transition: opacity .2s ease-in-out
    width: 40px

    &:hover
      opacity: 1

.login, .logout
  margin-bottom: 15px
  text-decoration: none
  font-size: 0
  cursor: pointer
  &:hover
    span
      text-decoration: underline
  span
    color: $mono-mid
    font-size: 13px
    display: inline-block
    vertical-align: middle
  &::after
    content: ''
    display: inline-block
    vertical-align: middle
    width: 15px
    height: 15px
    margin-left: 8px
    margin-top: 3px
    background-repeat: no-repeat

.login
  &::after
    background-image: url('~assets/login.svg')
.logout
  &::after
    background-image: url('~assets/logout.svg')

.copyright

  p
    color: $mono-mid
    font-size: 12px
    line-height: 18px
    margin: 0
    text-align: right

.vk-social
  background-image: url('~assets/vk.svg')

.fb-social
  background-image: url('~assets/fb.svg')

.twitter
  background-image: url('~assets/twitter.svg')

.rss
  background-image: url('~assets/rss.svg')

</style>
