<template lang="pug">
header
  .inner
    .logo
      nuxt-link(:to="{name: 'index'}")
        img(src="~/assets/logo.svg")
    .menu
      input.hidden(type="checkbox",name="hamb",id="hamb", v-model="inputValue")
      label#hamb-button.hidden(for="hamb")
      ul
        li(v-for="li in menu")
          .delimiter(v-if="li.delimiter")
          .li-inner(:class="[li.class, {multi: li.type == 'multi'}, {open: li.open}]", @click="li.open = !li.open")
            nuxt-link(:to="li.link") {{ li.name }}
            ul(v-if="li.type == 'multi'")
              li(v-for="sub in li.sublinks")
                nuxt-link(:to="sub.link") {{ sub.name }}
    .search
      //- .input
        //- input#search(type="text",name="search")
      nuxt-link.btn-search(:to="{name: 'search'}")
</template>

<script>
export default {
  name: 'header-spmm',
  data () {
    return {
      inputValue: false,
      menu: [
        {
          name: 'Новости',
          link: {name: 'news'},
          class: ''
        },
        // {
        //   name: 'Календарь',
        //   link: {name: 'calendar'},
        //   class: ''
        // },
        {
          name: 'О нас',
          link: {name: 'about'},
          type: 'multi',
          open: false,
          class: '',
          sublinks: [
            {
              name: 'История',
              link: {name: 'about-history'}
            },
            {
              name: 'Контакты',
              link: {name: 'about-contacts'}
            }
          ]
        },
        {
          name: 'Координационный центр',
          link: {name: 'coordinationcenter'},
          class: 'coord-center',
          delimiter: true
        }
      ]
    }
  },
  watch: {
    '$route' (route) {
      this.inputValue = false
    }
  }
}
</script>

<style lang="sass" scoped>
.deactive-link
  pointer-events: none

header
  background: $light-white
  border-bottom: 1px solid $more-light-white
  color: $black
  height: 59px
  width: 100%
  z-index: 5

  .inner
    height: 100%
    margin: 0 auto
    max-width: $container-width
    padding: 0 20px
    position: relative

  .search
    top: 50%
    margin-top: -9px
    position: absolute
    right: 20px
    width: 18px
    height: 18px

    input
      margin-bottom: 0
      box-shadow: none

  .logo
    left: 20px
    position: absolute
    top: 13px

  .btn-search
    background: url('~assets/search.svg') no-repeat
    cursor: pointer
    height: 18px
    position: absolute
    right: 0
    top: 0
    width: 18px


.menu
  left: 260px
  position: absolute
  top: 0
  z-index: 9

  & > ul
    padding: 0

  .li-inner
    & > a
      border-bottom: 3px solid transparent
    &:hover
      & > a:not(.nuxt-link-active)
        border-bottom: 3px solid transparentize($orange, .5)
      @include breakpoint(medium)
        ul
          display: block

    &.multi
      @include breakpoint(medium)
        &:hover > a
          border-bottom: 3px solid transparent

  ul
    font-size: 0

    .li-inner, li
      @include breakpoint(medium)
        display: inline-block
        line-height: 56px
        vertical-align: middle

    ul
      background: $faintly-orange
      display: none
      left: 0
      padding: 10px 0
      position: absolute
      top: 59px


  .li-inner
    font-size: 15px
    position: relative

    li
      font-size: 15px
      border: 0
      display: block
      line-height: 40px
      width: 100%

      a,
      span
        @include breakpoint(medium)
          padding: 0 25px

      &:hover
        background: transparentize($white, .5)
        // border: 0

    &.multi
      &:hover
        @include breakpoint(medium)
          & > a
            background: $faintly-orange
            border-color: transparent

          &::after
            background: $orange
            content: ''
            display: block
            height: 1px
            left: 0
            position: absolute
            top: 58px
            width: 100%

  a,
  span
    display: block
    height: 100%
    margin-bottom: -2px
    padding: 0 20px
    text-decoration: none
    width: 100%
    color: $mono-dark

  span
    cursor: default

  .delimiter
    background: $more-light-white
    display: inline-block
    vertical-align: middle
    font-size: 18px
    height: 40px
    margin: 0 40px
    width: 1px
    @include breakpoint(830px down)
      display: none


@include breakpoint(1190px down)
  .search
    .input
      opacity: 0
      z-index: -1
      position: relative

  header 
    .search
      bottom: 10px

@include breakpoint(1096px down)
  .menu-footer > ul ul
    display: none

@include breakpoint(965px down)
  .menu
    left: 145px

@include breakpoint(830px down)
  .menu
    .coord-center
      display: none

@include breakpoint(small only)
  .menu
    .coord-center
      display: inline-block

@include breakpoint(small only) 
  html
    overflow-x: hidden

  .section-wrapper
    margin-top: 59px

  header
    position: fixed
    top: 0

    .logo
      top: 10%
      height: 100%

      img
        max-height: 80%

  .menu
    right: 20px
    left: auto
    top: 50%
    margin-top: -8px
    width: 34px
    height: 21px
    user-select: none

    a
      display: inline-block
      width: auto
      padding: 0
      height: auto
      line-height: 25px
      margin-right: 40px


    li, .li-inner
      display: block
      line-height: 42px

      &:hover
        background: transparent
        border-color: transparent

        &::after
          content: none

      &.multi
        position: relative

        &:hover
          background: transparent

          &::after
            content: none

        &::before
          display: block
          height: 47px
          width: 47px
          cursor: pointer
          position: absolute
          right: 0
          top: 0
          content: ''
          transition: transform 0.1s ease-in-out
          background: url('~assets/menu-arrow.svg') no-repeat center top 16px

        &.open
          &::before
            transform: rotate(90deg)

          ul
            display: block

    &>ul
      position: fixed
      top: 59px
      left: -100%
      right: auto
      width: 100%
      bottom: 0
      background: $white
      text-align: right
      overflow-y: auto
      transition: left 0.3s ease-in-out
      z-index: 9

    ul
      ul
        position: relative
        background: $light-white
        top: 0
        left: auto
        border-top: 1px solid $more-light-white
        border-bottom: 1px solid $more-light-white

        a
          padding: 0

    label
      display: block
      width: 34px
      height: 21px
      cursor: pointer
      background: url('~assets/hamb.svg') 
      background-repeat: no-repeat 
      background-position: center center

    #hamb:checked ~ ul
      left: 0

  .search
    display: none

.search
  position: relative
  width: 180px
</style>

<style lang="sass">
.menu
  .li-inner 
    & > a
      &.nuxt-link-active
        border-bottom: 3px solid $orange
        font-weight: 500
        ul
          font-weight: 400
    &.multi
      li
        .nuxt-link-active
          font-weight: 500

@include breakpoint(small only)
  .menu
    li
      .nuxt-link-active
        border-color: transparent
        border: 0

        &>a
          border-bottom: 3px solid $orange
          font-weight: 500
</style>
