<template lang="pug">
.news-item
  section
    .inner
      breadcrumbs(:crumbs="crumbs")
      .content
        club-comp(:item="item", :show_hidden_button="true", :show_delete_button="true")
</template>

<script>

import Breadcrumbs from '~/components/Breadcrumbs'
import ClubComp from '~/components/Club'

export default {
  name: 'club-item',
  components: {
    ClubComp,
    Breadcrumbs
  },
  asyncData ({ params, app }) {
    return app.$axios.$get('/club/' + params.id).then(res => {
      return {
        item: res
      }
    })
  },
  computed: {
    crumbs () {
      return [
        { name: 'Клубы', route: {} },
        { name: (this.item && this.item.name) ? this.item.name : 'Создать', route: {} }
      ]
    }
  }
}
</script>

<style lang="sass" scoped>
.breadcrumbs
  font-size: 13px
  line-height: 20px
  padding-right: 190px
  margin: 12px 0 42px
  margin-left: 100px

  @media (max-width: 600px)
    *
      display: none

  a
    display: inline-block
    line-height: rem-calc(20px)
    font-size: rem-calc(13px)
    text-decoration: underline

    &::before
      content: ''
      display: inline-block
      vertical-align: middle
      width: 12px
      height: 9px
      margin: 0 9px
      background: url('~assets/arrow-news.svg') no-repeat

  span
    &::before
      content: ''
      display: inline-block
      vertical-align: middle
      width: 12px
      height: 9px
      margin: 0 9px
      background: url('~assets/arrow-news.svg') no-repeat


    &:hover
      text-decoration: none
</style>