<template lang="pug">
.news-item
  section
    .inner
      breadcrumbs(:crumbs="crumbs")
      .content
        article-comp(:item="item", :show_hidden_button="true", :show_delete_button="true")
</template>

<script>

import Breadcrumbs from '~/components/Breadcrumbs'
import ArticleComp from '~/components/Article'

export default {
  name: 'news-item',
  components: {
    ArticleComp,
    Breadcrumbs
  },
  async asyncData ({ params, app, error }) {
    try {
      return {
        item: await app.$axios.$get('/article/' + params.url_slug)
      }
    } catch ({ statusCode }) {
      if (params.url_slug === 'create') {
        return {
          item: {}
        }
      }
      error({ statusCode, message: 'Error' })
    }
  },
  computed: {
    crumbs () {
      return [
        { name: 'Новости', route: { name: 'news' } },
        { name: (this.item && this.item.name) ? this.item.name : 'Создать', route: {} }
      ]
    }
  },
  head () {
    return {
      title: (this.item && this.item.name) ? this.item.name : 'Создать' + ' - Новости СПММ'
    }
  }
}
</script>

<style lang="sass" scoped>
.breadcrumbs
  font-size: 13px
  line-height: 20px
  padding-right: 190px
  margin: 12px 0 42px
  margin-left: 100px

  @media (max-width: 600px)
    *
      display: none

  a
    display: inline-block
    line-height: rem-calc(20px)
    font-size: rem-calc(13px)
    text-decoration: underline

    &::before
      content: ''
      display: inline-block
      vertical-align: middle
      width: 12px
      height: 9px
      margin: 0 9px
      background: url('~assets/arrow-news.svg') no-repeat

  span
    &::before
      content: ''
      display: inline-block
      vertical-align: middle
      width: 12px
      height: 9px
      margin: 0 9px
      background: url('~assets/arrow-news.svg') no-repeat


    &:hover
      text-decoration: none
</style>