<template lang="pug">
section
  .inner.relative
    breadcrumbs(:crumbs="crumbs")
    router-link.create-news(v-if="admin", to="/news/create") Создать +
    .content
      .row
        news-item(v-for="item in list", v-if="admin || item.is_displayed", :class="{halfhidden: !item.is_displayed}", :item="item", :key="item.id")
    .text-center
      pagination(:total="Math.ceil(total/6)")
</template>

<script>
import Breadcrumbs from '~/components/Breadcrumbs'
import Pagination from '~/components/Pagination'
import NewsItem from '~/components/NewsItem'
import { mapGetters } from 'vuex'

const fetchItems = function ({ query, app, admin }) {
  // let admin = store.state.auth.role === 'admin'
  return app.$axios.$get('/article', {
    params: {
      page: query ? query.page : 1,
      sort_by: 'created_at',
      sort_dir: 'desc',
      type: 'news',
      ...admin ? { is_displayed: 'all' } : {}
    }
  })
}

export default {
  name: 'news',
  watchQuery: ['page'],
  asyncData ({ query, app, store }) {
    let admin = store.state.auth.role === 'admin'
    return fetchItems({ query, app, admin }).then(res => {
      return {
        list: res.items,
        total: res.meta.total
      }
    })
  },
  computed: {
    ...mapGetters('auth', ['admin'])
  },
  data () {
    return {
      crumbs: [
        { name: 'Новости', route: {} }
      ]
    }
  },
  watch: {
    admin (admin) {
      fetchItems({ query: this.$route.query, app: this, admin }).then(res => {
        this.list = res.items
        this.total = res.meta.total
      })
    }
  },
  components: {
    Breadcrumbs,
    Pagination,
    NewsItem
  },
  head () {
    return {
      title: 'Новости СПММ'
    }
  }
}
</script>

<style lang="sass" scoped>
$title-pad: 7px

.create-news
  display: inline-block
  position: absolute
  right: 20px
  top: 0
  font-size: 15px
  cursor: pointer
  text-decoration: underline
  &:hover
    text-decoration: none

// .news-admin-left
//   padding-right: 30px

// .data-news
//   font-size: 13px
//   color: $mono-mid
//   margin: 15px 0

// #text_news
//   -moz-appearance: textfield-multiline
//   -webkit-appearance: textarea
//   font: medium -moz-fixed
//   font: -webkit-small-control
//   height: 40px
//   overflow: auto
//   padding: 10px
//   resize: both

</style>