*,
* ::before,
* ::after
  box-sizing: border-box

.inline-blocks
  font-size: 0
  letter-spacing: 0

  >*
    font-size: 14px

.hidden
  display: none

.text-center
  text-align: center

.max-container
  max-width: $container-width
  margin: 0 auto
  padding: 0 20px

.row
  @include flex-grid-row($behavior: nest, $gutters: 35px)
  .main-column
    @include flex-grid-column(66.666%, 35px)
    flex: 1 0 66.666%
    max-width: 100%
    @include breakpoint(small only)
      flex: 1 0 100%
      @include flex-grid-column(100%, 35px)

  .right-column
    @include flex-grid-column(33.333%, 35px)
    @include breakpoint(small only)
      margin-top: 20px
      @include flex-grid-column(100%, 35px)

.inner-no-padding
  max-width: $container-width
  margin: 0 auto

.relative
  position: relative

.bold
  font-weight: bold

body
  font-weight: 400

  *
    +font-family('Open Sans')

a
  color: $grey

  &:hover
    text-decoration: none

p
  font-size: inherit
  line-height: inherit

.content
  p
    font-size: rem-calc(14px)
    line-height: 1.5
    font-weight: 400
    margin-bottom: 20px

    &:last-child
      margin-bottom: 0

h1
  font-size: 20px
  line-height: 1.25
  margin-bottom: 15px
  font-weight: 400
  margin-top: -0.4em

h2, h3, h4
  font-weight: 700
  margin-bottom: 25px
  margin-top: 15px

p + h2, p + h3, p + h4
  margin-top: 30px

h2
  font-size: 17px

h3
  font-size: 16px

h4
  font-size: 14px

input[type='text'], input[type='password']
  background: transparent
  border: 0
  border-bottom: 1px solid transparentize($mono-mid,.5)
  box-shadow: none
  outline: 0
  padding: 5px 10px
  padding-right: 35px
  width: 100%
  color: $grey
  &::placeholder
    color: $grey

textarea
  padding: 10px
  border: 0
  outline: 0
  width: 100%
  height: 40px

.input
  position: relative

  &:focus
    outline: none

  &::before
    background: transparentize($mono-mid,.5)
    bottom: 0
    content: ''
    display: block
    height: 5px
    left: 0
    position: absolute
    width: 1px

  &::after
    background: transparentize($mono-mid,.5)
    bottom: 0
    content: ''
    display: block
    height: 5px
    position: absolute
    right: 0
    width: 1px

input[type='checkbox']
  border: 1px solid $black
  border-radius: 3px
  height: 21px
  margin: 0
  width: 21px

img
  max-width: 100%
