@font-face
  font-family: 'OpenSans'
  font-style: normal
  font-weight: 400
  src: url('~assets/fonts/open-sans-regular/open-sans-regular.eot'), url('~assets/fonts/open-sans-regular/open-sans-regular.eot?#iefix') format('embedded-opentype'), url('~assets/fonts/open-sans-regular/open-sans-regular.woff2') format('woff2'), url('~assets/fonts/open-sans-regular/open-sans-regular.woff') format('woff'), url('~assets/fonts/open-sans-regular/open-sans-regular.ttf') format('truetype'), url('~assets/fonts/open-sans-regular/open-sans-regular.svg#open_sansregular') format('svg')

@font-face
  font-family: 'OpenSans'
  font-style: normal
  font-weight: 500
  src: url('~assets/fonts/open-sans-semibold/open-sans-semibold.eot'), url('~assets/fonts/open-sans-semibold/open-sans-semibold.eot?#iefix') format('embedded-opentype'), url('~assets/fonts/open-sans-semibold/open-sans-semibold.woff2') format('woff2'), url('~assets/fonts/open-sans-semibold/open-sans-semibold.woff') format('woff'), url('~assets/fonts/open-sans-semibold/open-sans-semibold.ttf') format('truetype'), url('~assets/fonts/open-sans-semibold/open-sans-semibold.svg#open_sanssemibold') format('svg')

@font-face
  font-family: 'OpenSans'
  font-style: normal
  font-weight: 600
  src: url('~assets/fonts/open-sans-bold/open-sans-bold.eot'), url('~assets/fonts/open-sans-bold/open-sans-bold.eot?#iefix') format('embedded-opentype'), url('~assets/fonts/open-sans-bold/open-sans-bold.woff2') format('woff2'), url('~assets/fonts/open-sans-bold/open-sans-bold.woff') format('woff'), url('~assets/fonts/open-sans-bold/open-sans-bold.ttf') format('truetype'), url('~assets/fonts/open-sans-bold/open-sans-bold.svg#open_sansbold') format('svg')

